{% load staticfiles compress %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>News | {{ site_title }}</title> {# TODO: Create context preprocessor and  add common var #}

    {% compress css %}
        <link type="text/less" href="{% static 'news/css/main.less' %}" rel="stylesheet"/>
    {% endcompress %}

    {% compress js %}
    {% endcompress %}

    {% if DEBUG %}
        <script type="text/javascript" src="{% static "news/js/less.js-2.5.3/dist/less.min.js" %}"></script>
    {% endif %}
</head>
<body>

{% block content %}
{% endblock %}

</body>
</html>