{% load staticfiles compress %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8" >

    <title>News | {{ site_title }}</title>

    {% compress css %}
        {% block styles %}
            <link type="text/less" href="{% static 'news/css/reset.less' %}" rel="stylesheet" />
            <link type="text/less" href="{% static 'news/css/base.less' %}" rel="stylesheet" />
            <link type="text/less" href="{% static 'news/lib/bootstrap-3.3.6/less/bootstrap.less' %}" rel="stylesheet" />
        {% endblock %}
    {% endcompress %}

    {% compress js %}
        {% block scripts %}
        <script type="text/javascript" src="{% static 'news/lib/bootstrap-3.3.6/dist/js/bootstrap.js' %}" ></script>
        {% endblock %}
    {% endcompress %}

    {% if DEBUG %}
        <script type="text/javascript" src="{% static "news/js/less.js-2.5.3/dist/less.min.js" %}"></script>
    {% endif %}

    <!-- [if gte IE 9] -->
    {% block fonts %}
        <link href='{{ isivi_common.is_secure_request|yesno:'https,http' }}://fonts.googleapis.com/css?family=Open+Sans:300,400,600,400italic&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
    {% endblock fonts %}
    <!-- [endif] -->

</head>
<body>

    <div id="the-very-top">
        <div id="header">
            {% block header %}
                {% include 'global/base/header.html' %}
            {% endblock %}
        </div>

        {% if request.session.bad_login and request.user.is_authenticated %}
        <div>
            You have tried to log in {{ request.session.bad_login }} times!
        </div>
        {% endif %}

        {% if request.session.bad_login >= 3 and request.user.is_anonymous %}
        <div>
            You have entered wrong credentials {{ request.session.bad_login }} times.
        </div>
        {% endif %}

        <div id="content-wrapper">
            {% block content %}
            {% endblock %}
        </div>

        <div id="footer">
            {% block footer %}
            {% endblock %}
        </div>
    </div>

</body>
</html>