{% extends 'global/base/base.html' %}

{% block content %}
    <ul>
        {% for post in post_list %}
            <li>
                <ul>
                    <li>{{ post.title }}</li>
                    <li>{{ post.content }}</li>
                    <li>{{ post.author }}</li>
                    <li>{{ post.date_added }}</li>
                </ul>
            </li>
            {% for elem in post.comments.all %}
                {{ elem.content }}<br />
                {{ elem.date_added }}<br />
                {{ elem.author }}<br />
            {% endfor %}
        {% endfor %}
    </ul>

{% endblock %}