{% extends 'global/base/base.html' %}

{% block content %}

    <div>
        <a href="{% url 'news:post:add' %}">Dodaj post</a>
    </div>

    <div class="error">
        {{ errors }}
    </div>

    <ul>
        {% for post in post_list %}
            <li>
                <ul>
                    <li>{{ post.title }}</li>
                    <li>{{ post.content }}</li>
                    <li>{{ post.author }}</li>
                    <li>{{ post.date_added }}</li>
                </ul>
            </li>
            {% for elem in post.comments.all %}
                {{ elem.content }}<br />
                {{ elem.date_added }}<br />
                {{ elem.author }}<br />
            {% endfor %}
            <form action="{% url 'news:comment:add' post_pk=post.pk %}" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Dodaj komentarz" />
            </form>

        {% endfor %}
    </ul>
{% endblock %}